<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="login-main">
    <%- include('../partials/flash') %>
    <h1 class="text-center">Login</h1>
    <form action="/login" method="post" class="login-form">
      <div class="mb-3 login-email">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-control" autocomplete="off">
      </div>
      <div class="mb-3 login-password">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>
      <div class="mb-3 login-btn">
        <button class="btn btn-success">Login</button>
      </div>
    </form>
    <h6>Do not have an account yet? <a href="/register">register</a></h6>
  </section>

  <%- include('../partials/cantGoBack') %> 
</main>