<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="customer" style="margin-top: 10%;" class="container">
    <h1>Make Customer</h1>
    <form action="/makeCustomer" method="post">
      <div class="mb-3">
        <label for="cusName" class="form-label">Name</label>
        <input type="text" class="form-control" id="cusName" name="name">
      </div>
      <div class="mb-3">
        <label for="cusEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="cusEmail" name="email">
      </div>
      <div class="mb-3">
        <label for="cusAddress" class="form-label">Address</label>
        <textarea name="address" class="form-control" id="cusAddress" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Pay Now</button>
      </div>
    </form>
  </section>
</main>