<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="order-menu">
    <h1 class="text-center">Order</h1>
    <form action="/order" method="post" class="form-menu">
      <div class="mb-3 days">
        <label for="days-select" class="form-label">Day</label>
        <select name="day" id="days-select" class="form-select">
          <option selected>Select the day</option>
          <option value="Mon">Monday</option>
          <option value="Tue">Tuesday</option>
          <option value="Wed">Wednesday</option>
          <option value="Thu">Thursday</option>
          <option value="Fri">Friday</option>
          <option value="Sat">Saturday</option>
          <option value="Sun">Sunday</option>
        </select>
      </div>
      <div class="mb-3 quantity">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" name="quantity" id="quantity" min="0">
      </div>
      <div class="mb-3 order-message">
        <label for="message" class="form-label">Message (optional)</label>
        <textarea name="message" id="message" rows="3" class="form-control"></textarea>
      </div>
      <div class="mb-3 total-price">
        <label for="total-price" class="form-label">Total Prices</label>
        <p id="total-price">Rp 50.000</p>
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Select the date</label>
        <input type="date" name="date" id="date" min="<%= minDate %>" max="<%= maxDate %>">
      </div>
      <div class="mb-3 submit-order">
        <button class="btn btn-lg text-white">Submit</button>
      </div>
    </form>
  </section>
</main>