<%- layout('boilerplate/boilerplate') -%>
<section id="ovo-payment-pending">
  <div class="mt-5 pt-5">
    <h1>Please pay your ovo to this number</h1>
    <h3>Amount: <%= findEW.charge_amount %></h3>
    <h3>Ovo mobile number: <%= findEW.channel_properties.mobile_number %></h3>

  </div>
</section>