<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="admin-home">
    <h1 class="text-center">Menus</h1>
    <div class="day">
      <h3 class="text-center">Thursday</h3>
      <div class="card">
        <img src="/img/briyani.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn text-white">Order For This Menu</a>
        </div>
      </div>
    </div>
    <div class="day">
      <h3 class="text-center">Thursday</h3>
      <div class="card">
        <img src="/img/briyani.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn text-white">Order For This Menu</a>
        </div>
      </div>
    </div>
  </section>

  <section id="admin-home-orders">
    <h1 class="text-center">Orders</h1>
    <div class="order monday">
      <h3 class="text-center">Monday</h3>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Date: 31/12/2000</h5>
          <p class="card-text">Number of orders: 999</p>
          <a href="#" class="btn btn-primary text-white">See Details</a>
        </div>
      </div>
    </div>
    <div class="order monday">
      <h3 class="text-center">Monday</h3>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Date: 31/12/2000</h5>
          <p class="card-text">Number of orders: 999</p>
          <a href="#" class="btn btn-primary text-white">See Details</a>
        </div>
      </div>
    </div>
  </section>
</main>