<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="menu-admin">
    <div class="menus">
      <h1>Menus For This Week</h1>
      <div class="days">
        <div class="monday">
          <h3>Monday</h3>
          <div class="card">
            <img src="/img/briyani.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn text-white">Edit</a>
            </div>
          </div>
        </div>
        <div class="tuesday">
          <h3>Tuesday</h3>
          <div class="card">
            <img src="/img/briyani.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn text-white">Edit</a>
            </div>
          </div>
        </div>
        <div class="wednesday">
          <h3>Wednesday</h3>
          <div class="card">
            <img src="/img/briyani.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn text-white">Edit</a>
            </div>
          </div>
        </div>
        <div class="thursday">
          <h3>Thursday</h3>
          <div class="card">
            <img src="/img/briyani.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn text-white">Edit</a>
            </div>
          </div>
        </div>
        <div class="friday">
          <h3>Friday</h3>
          <div class="card">
            <img src="/img/briyani.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn text-white">Edit</a>
            </div>
          </div>
        </div>
        <div class="saturday">
          <h3>Saturday</h3>
          <div class="card">
            <img src="/img/briyani.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn text-white">Edit</a>
            </div>
          </div>
        </div>
        <div class="sunday">
          <h3>Sunday</h3>
          <div class="card">
            <img src="/img/briyani.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn text-white">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>