<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="menus-form">
    <h1 class="text-center">Menu</h1>
    <form action="/menu" method="post" enctype="multipart/form-data" class="menu-admin">
      <div class="mb-3 title">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" autocomplete="off">
      </div>
      <div class="mb-3 day">
        <label for="day" class="form-label">Day</label>
        <select name="day" id="day" class="form-select">
          <option selected>Select the day</option>
          <option value="Mon">Monday</option>
          <option value="Tue">Tuesday</option>
          <option value="Wed">Wednesday</option>
          <option value="Thu">Thursday</option>
          <option value="Fri">Friday</option>
          <option value="Sat">Saturday</option>
          <option value="Sun">Sunday</option>
        </select>
      </div>
      <div class="mb-3 images">
        <label for="images" class="form-label">Choose Images</label>
        <input type="file" class="form-control" id="images" name="images">
      </div>
      <div class="mb-3 description">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
      </div>
      <div class="mb-3 button">
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
  </section>
</main>