<%- layout('boilerplate/boilerplate') -%>
<main>
  <section id="menus-form">
    <h1 class="text-center">Menu</h1>
    <form action="/menus" method="post" enctype="multipart/form-data" class="menu-admin">
      <div class="mb-3 title">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" autocomplete="off">
      </div>
      <div class="mb-3 menu">
        <label for="date" class="form-label">Date</label>
        <input type="date" name="date" id="date" min="<%= minDate %>" max="<%= maxDate %>">
      </div>
      <div class="mb-3 images">
        <label for="images" class="form-label">Choose Images</label>
        <input type="file" class="form-control" id="images" name="images" accept=".jpeg, .jpg, .png, .gif, .svg" multiple>
      </div>
      <div class="mb-3 description">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
      </div>
      <div class="mb-3 button">
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
  </section>
</main>